<div style="width: 5px ; height: 20px;"></div>
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="card" style="width: 27.5rem;">
                <img class="card-img-top" src="/assets/cat.jpg" alt="INTRO CAT IMAGE">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>

    <div style="width: 5px ; height: 100px;"></div>

    <div class="row">

        <div class="col-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">You have <span style="color: red;">{{ alivePets }}</span> pets</h5>
            </div>
          </div>
        </div>


        <div class="col-6">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">You said goodbye to <span style="color: red;">{{ deadPets }}</span> pets</h5>
            </div>
          </div>
        </div>

      </div>
</div>

<div style="width: 5px ; height: 100px;"></div>
