<div style="width: 5px ; height: 50px;"></div>
<div class="container">

    <button type="button" class="btn btn-success btn-lg btn-block" routerLink="/pets/new">Add New Pet</button>

    <div style="width: 5px ; height: 50px;"></div>
    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Show Pet</th>
            <th scope="col">Name</th>
            <th scope="col">Species </th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Date of Death</th>
            <th scope="col">Note</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><button type="button" class="btn btn-outline-light btn-lg btn-block" routerLink="/pets/1/">1</button></th>
            <td>Caty</td>
            <td>Cat</td>
            <td colspan="2">2020-09-06</td>
            <td>This cat is cute!</td>
            <td><button type="button" class="btn btn-outline-warning btn-lg btn-block" routerLink="/pets/1/edit">EDIT</button></td>
          </tr>
        </tbody>
    </table>
</div>
