

<div style="width: 5px ; height: 50px;"></div>
<div class="container">

    <button type="button" class="btn btn-success btn-lg btn-block" routerLink="/pets/addPet/new">Add New Pet</button>

    <div style="width: 5px ; height: 50px;"></div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Show Pet</th>
            <th scope="col">Name</th>
            <th scope="col">Species </th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Date of Death</th>
            <th scope="col">Note</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let pet of pets"
          >
            <th scope="row" 
            class="table-dark">
              <button type="button" 
                      class="btn btn-outline-light btn-lg btn-block" 
                      [routerLink]="['/pets/', pet.id]"
              >{{ pet.id }}</button>
            </th>
            <td>{{ pet.name }}</td>
            <td>{{ pet.species }}</td>
            <td >{{ pet.dateOfBirth }}</td>
            <td >{{ pet.dateOfDeath }}</td>
            <td>{{ pet.note }}</td>
            <td
            class="table-dark">
              <button type="button" 
                      class="btn btn-outline-warning btn-lg btn-block" 
                      routerLink="/pets/{{ pet.id }}/edit"
              >EDIT</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>
